<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.elwy.editor.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="cn.elwy.editor.intro.Perspective"
            id="cn.elwy.editor.intro.Perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="cn.elwy.editor.application"
            name="File Editor">
         <property
               name="appName"
               value="File Editor">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="cn.elwy.editor.intro">
      </intro>
      <introProductBinding
            introId="cn.elwy.editor.intro"
            productId="cn.elwy.editor.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="cn.elwy.editor.intro"
            content="introContent.xml"
            id="cn.elwy.editor.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.elwy.editor.ui.editor.FileEditor"
            default="true"
            icon="icons/file new.ico"
            id="cn.elwy.editor.ui.editor.FileEditor"
            name="FileEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.elwy.editor.ui.view.DetailView"
            icon="icons/text.gif"
            id="cn.elwy.editor.ui.view.DetailView"
            name="操作结果">
      </view>
      <view
            class="cn.elwy.editor.ui.view.FileListView"
            id="cn.elwy.editor.ui.view.FileListView"
            name="文件"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cn.elwy.editor.OpenFile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="cn.elwy.editor.scheme"
            sequence="Ctrl+O">
      </key>
      <key
            commandId="cn.elwy.editor.NewFile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="cn.elwy.editor.scheme"
            sequence="Ctrl+N">
      </key>
      <scheme
            id="cn.elwy.editor.scheme"
            name="cn.elwy.editor.scheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            commandId="cn.elwy.editor.SaveFile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="cn.elwy.editor.scheme"
            sequence="cn.elwy.editor.SaveFile">
      </key>
      <key
            commandId="org.eclipse.ui.edit.undo"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="cn.elwy.editor.scheme"
            sequence="Ctrl+Z">
      </key>
      <key
            commandId="cn.elwy.editor.Find"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="cn.elwy.editor.scheme"
            sequence="Ctrl+F">
      </key>
      <key
            commandId="cn.elwy.editor.Cut"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="cn.elwy.editor.scheme"
            sequence="cn.elwy.editor.Cut">
      </key>
      <key
            commandId="cn.elwy.editor.Copy"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="cn.elwy.editor.scheme"
            sequence="cn.elwy.editor.Copy">
      </key>
      <key
            commandId="cn.elwy.editor.Paste"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="cn.elwy.editor.scheme"
            sequence="cn.elwy.editor.Paste">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="cn.elwy.editor.actionSet1"
            label="label"
            visible="true">
         <menu
               id="cn.elwy.editor.help"
               label="帮助(&amp;H)">
            <groupMarker
                  name="h1">
            </groupMarker>
            <separator
                  name="s5">
            </separator>
            <groupMarker
                  name="h2">
            </groupMarker>
         </menu>
         <menu
               id="cn.elwy.editor.format"
               label="格式(&amp;O)">
            <groupMarker
                  name="m1">
            </groupMarker>
         </menu>
         <menu
               id="cn.elwy.editor.edit"
               label="编辑(&amp;E)">
            <groupMarker
                  name="e1">
            </groupMarker>
            <separator
                  name="s3">
            </separator>
            <groupMarker
                  name="e2">
            </groupMarker>
            <separator
                  name="s4">
            </separator>
            <groupMarker
                  name="e3">
            </groupMarker>
         </menu>
         <menu
               id="cn.elwy.editor.file"
               label="文件(&amp;F)">
            <groupMarker
                  name="f1">
            </groupMarker>
            <separator
                  name="s1">
            </separator>
            <groupMarker
                  name="f2">
            </groupMarker>
            <separator
                  name="s2">
            </separator>
            <groupMarker
                  name="f3">
            </groupMarker>
         </menu>
         <action
               accelerator="Ctrl+N"
               class="cn.elwy.editor.action.NewFileAction"
               definitionId="cn.elwy.editor.NewFile"
               icon="icons/file new.ico"
               id="cn.elwy.editor.new"
               label="新建(&amp;N)"
               menubarPath="cn.elwy.editor.file/f1"
               style="push"
               toolbarPath="f1">
         </action>
         <action
               accelerator="Ctrl+O"
               class="cn.elwy.editor.action.OpenFileAciton"
               definitionId="cn.elwy.editor.OpenFile"
               icon="icons/open.gif"
               id="cn.elwy.editor.open"
               label="打开(&amp;O)"
               menubarPath="cn.elwy.editor.file/f1"
               style="push"
               toolbarPath="f1">
         </action>
         <action
               class="cn.elwy.editor.action.PrintAction"
               icon="icons/打印机2.ico"
               id="cn.elwy.editor.print"
               label="打印(&amp;P)"
               menubarPath="cn.elwy.editor.file/f2"
               style="push"
               toolbarPath="c">
         </action>
         <action
               class="cn.elwy.editor.action.PageSetAction"
               icon="icons/align full-4.ico"
               id="cn.elwy.editor.pageset"
               label="页面设置(&amp;U)"
               menubarPath="cn.elwy.editor.file/f2"
               style="push"
               toolbarPath="c">
         </action>
         <action
               allowLabelUpdate="true"
               class="cn.elwy.editor.action.SaveFileAction"
               icon="icons/保存.ico"
               id="cn.elwy.editor.save"
               label="保存(&amp;S)"
               menubarPath="cn.elwy.editor.file/f2"
               state="true"
               style="push">
         </action>
         <action
               class="cn.elwy.editor.action.ExitAction"
               id="cn.elwy.editor.exit"
               label="退出(&amp;X)"
               menubarPath="cn.elwy.editor.file/f3"
               style="push">
         </action>
         <action
               accelerator="Ctrl+C"
               class="cn.elwy.editor.action.CopyTextAction"
               definitionId="cn.elwy.editor.Copy"
               icon="icons/复制.ico"
               id="cn.elwy.editor.copy"
               label="复制(&amp;C)"
               menubarPath="cn.elwy.editor.edit/e2"
               style="push"
               toolbarPath="e2">
         </action>
         <action
               accelerator="Ctrl+X"
               class="cn.elwy.editor.action.CutTextAction"
               definitionId="cn.elwy.editor.Cut"
               icon="icons/cut-2.ico"
               id="cn.elwy.editor.cut"
               label="剪切(&amp;T)"
               menubarPath="cn.elwy.editor.edit/e2"
               style="push"
               toolbarPath="e2">
         </action>
         <action
               accelerator="Ctrl+V"
               class="cn.elwy.editor.action.PasteTextAction"
               definitionId="cn.elwy.editor.Paste"
               icon="icons/粘贴.ico"
               id="cn.elwy.editor.paste"
               label="粘贴(&amp;P)"
               menubarPath="cn.elwy.editor.edit/e2"
               style="push"
               toolbarPath="e2">
         </action>
         <action
               class="cn.elwy.editor.action.fontAction"
               id="cn.elwy.editor.font"
               label="字体(&amp;F)"
               menubarPath="cn.elwy.editor.format/m1"
               style="push">
         </action>
         <action
               accelerator="Ctrl+F"
               class="cn.elwy.editor.action.FindAction"
               definitionId="cn.elwy.editor.Find"
               icon="icons/sfind.gif"
               id="cn.elwy.editor.find"
               label="查找(&amp;F)"
               menubarPath="cn.elwy.editor.edit/e3"
               style="push"
               toolbarPath="c">
         </action>
         <action
               allowLabelUpdate="true"
               class="cn.elwy.editor.action.WrapAction"
               disabledIcon="icons/alt_launcher.ico"
               id="cn.elwy.editor.wrap"
               label="自动换行(&amp;W)"
               menubarPath="cn.elwy.editor.format/m1"
               pulldown="true"
               style="toggle">
         </action>
         <action
               class="cn.elwy.editor.action.fontAction"
               icon="icons/fontcolor.bmp"
               id="cn.elwy.editor.font2"
               label="字体2"
               style="push"
               toolbarPath="c">
         </action>
         <action
               icon="icons/help.gif"
               id="cn.elwy.editor.action2"
               label="帮助主题(&amp;H)"
               menubarPath="cn.elwy.editor.help/h1"
               style="push"
               toolbarPath="h1">
         </action>
         <action
               class="cn.elwy.editor.action.AboutAction"
               id="cn.elwy.editor.about"
               label="关于记事本(&amp;A)"
               menubarPath="cn.elwy.editor.help/h2"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            id="cn.elwy.editor.OpenFile"
            name="open ">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            id="cn.elwy.editor.NewFile"
            name="new">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            id="cn.elwy.editor.SaveFile"
            name="save">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="cn.elwy.editor.command1"
            name="name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="cn.elwy.editor.Find"
            name="find">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="cn.elwy.editor.Cut"
            name="cut">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="cn.elwy.editor.Copy"
            name="copy">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="cn.elwy.editor.Paste"
            name="paste">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.ui.edit.undo"
            icon="icons/undo_edit.gif"
            style="toolbar">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="cn.elwy.editor.intro.handler.SplashHandler"
            id="cn.elwy.editor.intro.handler.SplashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="cn.elwy.editor.product"
            splashId="cn.elwy.editor.intro.handler.SplashHandler">
      </splashHandlerProductBinding>
   </extension>

</plugin>
